body, html {
  width: 100%;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  color: #212121;
}

* {
  box-sizing: border-box;
}

a:link {
  color: #212121;
  text-decoration: none;
}

a:visited {
  color: #212121;
  text-decoration: none;
}

.container {
  width: 90%;
  margin: 0 auto;
}

header {
  background-color: white;
  height: 70px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 100%;
}

.navbar div {
  width: calc(100%/3);
}

.menu ul {
  padding: 0;
  margin: 0;
  display: inline
}

.menu ul li {
  display: inline;
  padding: 5px;
}

.menu i {
  vertical-align: middle;
}

.menu ul li:hover {
  border-bottom: 1px solid #D50000;
}

.menu ul li i {
  display: none;
}

.menu ul li .active {
  color: #D50000;
}

.logo {
  height: 100%;
}

.logo img {
  height: 100%;
  padding: 15px;
  display: block;
  margin: 0 auto;
}

.search {
  text-align: right;
}

.search i {
  vertical-align: middle;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

.content h1 {
  width: 100%;
  text-transform: uppercase;
  text-align: center;
}

footer ul {
  margin: 20px;
  padding: 0;
  float: right;
}

footer ul li {
  display: inline;
  list-style-type: none;
  border-right: 1px solid black;
  padding: 0px 10px 0px 10px;
}

footer ul li:last-child {
  border: 0px;
}


/* Tablets */

@media all and (max-width: 800px) {
  .menu i {
    display: none;
  }
  .menu ul li span {
    display: none;
  }
  .menu ul li i {
    display: inline;
  }
  .element {
    width: 50%;
  }
  footer ul li {
    display: block;
    border: 0px;
  }
}


/* Mobile */

@media all and (max-width: 500px) {
  header {
    height: auto;
  }
  .navbar div {
    width: 100%;
  }
  .menu {
    order: 1;
  }
  .menu ul li {
    display: block;
    text-align: center;
  }
  .menu ul li span {
    display: inline;
  }
  .menu ul li i {
    display: none;
  }
  .logo {
    height: 70px;
    order: 0;
  }
  .account {
    display: none;
  }
  .element {
    width: 100%;
  }
}
